/src/node_modules
/src/public/hot
/src/public/storage
/src/storage/app/*
/src/storage/framework/cache/data/*
/src/storage/framework/sessions/*
/src/storage/framework/testing/*
/src/storage/framework/views/*
/src/storage/logs/*
/src/storage/*.key
/src/vendor
/src/.styleci.yml
/src/.phpunit.result.cache
/src/.php-cs-fixer.cache
/src/package.json
/src/phpunit.xml
/src/README.md
/src/phpspec.yml
/src/npm-debug.log
/src/yarn-error.log
/.github
/.git
/.idea
/.vscode
**.env*
**.editorconfig
**.gitattributes
**.gitignore
**.md
